extends __layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
    .row.center-xs
        .col-xs-12.col-md-6
            .box
                .search-bar.size-lg(style="margin-bottom: 40px;")
                    input#search-text(type="search", placeholder="Search something...")
        .col-xs-12.col-lg-10
            .box
                table.stripped
                    caption#caption
                        | Showing #{items.length} of #{items.length} items
                    thead
                        tr
                            th Id
                            th Name
                            th Display Name
                            th Command
                            th Image
                    tbody
                        - for (const item of items)
                            tr(data-searchstring=`${item.name} ${item.display_name} ${item.command || "N/A"}`)
                                td #{item.id}
                                td #{item.name}
                                td #{item.display_name}
                                td
                                    p.style-dark-light.edge-circle
                                        span #{item.command || "N/A"}
                                        a(href="#" onclick=`copyCommand("${item.command}")` style="margin-left: 12px;")
                                            svg.icon.icon-tabler.icon-tabler-copy(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", stroke-width="2", stroke="currentColor", fill="none", stroke-linecap="round", stroke-linejoin="round")
                                                path(stroke="none", d="M0 0h24v24H0z", fill="none")
                                                path(d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z")
                                                path(d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2")
                                td.flex-center
                                    img(src=(item.image_url || "https://sites.utexas.edu/texaslawaggiesociety/files/2021/05/Exec-Board-Placeholder.png") width="50px" height="50px")
    #toast-element.toast-wrapper.right.bottom.hidden
        .toast
            svg.toast-svg
                path(stroke="none", d="M0 0h24v24H0z", fill="none")
                path(d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2")
                path(d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z")
                path(d="M9 14l2 2l4 -4")
            p#toast-text Hi there :D
            button.close-button(type="button", aria-label="Close")

block scripts
  script(src='/static/scripts/items.js' type="module")
