extends __layout

block meta
  meta(content=mod.name, property="og:title")
  meta(content=(mod.description.length > 150 ? mod.description.substring(0, 150).trim() + "..." : mod.description), property="og:description")
  meta(content=(mod.primary_image_url || "https://sotf-mods.com/static/images/sotfmods.png"), property="og:image")
  link(type="application/json+oembed", href=`https://sotf-mods.com/mods/${mod.user.slug}/${mod.slug}.json`)

block head
  span

block body
  .row.center-xs
    .col-xs-12
      .box(style="margin-bottom: 30px;")
        h3(style="margin-bottom: 3px;")
          p #{mod.name}
        p
          | Developed by 
          a(href=`/profile/${mod.user.slug}`) #{mod.user.name}
  .row.center-xs
    .col-xs-6
      .box
        figure
          img(src=mod.primary_image_url, alt="Mod Image", style="margin-bottom: 20px;")
          a.button.size-2x(href=(mod.latest_version ? `/mods/${mod.user.slug}/${mod.slug}/download/${mod.latest_version.version}` : '') target="_blank" class=(mod.latest_version ? "" : "disabled"))
            svg.icon.icon-tabler.icon-tabler-download(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewBox="0 0 24 24", stroke-width="2", stroke="currentColor", fill="none", stroke-linecap="round", stroke-linejoin="round")
              path(stroke="none", d="M0 0h24v24H0z", fill="none")
              path(d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2")
              path(d="M7 11l5 5l5 -5")
              path(d="M12 4l0 12")
            span(style="margin-left: 6px; margin-right: 6px;") Download
            - if (mod.latest_version)
              span.color-dark-light.text-xs #{mod.latest_version.version}
          - if (mod.latest_version)
            p.color-dark-light.text-xs(style="margin-bottom: 0px;") Unique downloads: #{mod.downloads}
            p.color-dark-light.text-xs Total downloads: #{mod.total_downloads || mod.downloads}
          - else
            p.color-red-light.text-xs No versions available
    .col-xs-6
      .box
        .tabs-wrapper
          .tabs-header(role="tablist")
            button.tab-button.active(role="tab", aria-controls="tab-description", aria-selected="true")
              | Description
            //- button.tab-button(role="tab", aria-controls="tab-reviews", aria-selected="false")
            //-   | Reviews
          .tabs-content
            #tab-description.tab-panel.show
              span #{mod.description}
            //- #tab-reviews.tab-panel
            //-   h5 Reviews
  .row.center-xs
    .col-xs-12
      .box
        h5 Version History
        table
          thead
            tr
              th Version
              th Changelog
              th Downloads
              th Download
          tbody
            - for (const version of mod.versions)
              tr
                td #{version.version}
                td #{version.changelog}
                td #{version.downloads.length}
                td
                  a(href=(mod.latest_version ? `/mods/${mod.user.slug}/${mod.slug}/download/${version.version}` : '') target="_blank")
                    | Download
block scripts
  script(src='/static/scripts/mod.js' type="module")
