extends __layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
  .row.center-xs#mods-grid
    - for (const mod of mods.filter(mod => mod.isApproved))
      .col-xs
        .box.position-relative.margin-auto
          article.card
            - if (!mod.latest_version)
              .position-absolute.place-expand(style="background: #00000069; z-index: 100;")
                span.position-absolute.place-expand.color-light.size-4x(style="top: 20%; text-shadow: #000 1px 0 10px;")
                  | To be released
            header.card-header
              //- .card-badges
                a.badge.style-red(href="#") Scripts
                a.badge.style-green(href="#") MelonLoader
                a.badge.style-accent.edge-circle.pulse(href="#") New
              img.card-image(src=mod.thumbnail_url, alt=mod.name)
              h2.card-title(style="margin-bottom: 0px;") #{mod.name}
              span.text-sm
                | by 
                a(href=`/profile/${mod.user.slug}`) #{mod.user.name}
            .card-body.truncate
              p #{mod.description}
              - if (mod.latest_version)
                span.color-dark-light.text-xs Last version #{mod.latest_version.version} released #{mod.time_ago}
              - else
                span.color-dark-light.text-xs Announced #{mod.time_ago}
            footer.card-footer
              .button-group
                button.button.bordered.style-light-light(aria-label="Like")
                  | #{mod._count.favorites}

                  svg.icon.icon-tabler.icon-tabler-heart(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", stroke-width="2", stroke="currentColor", fill="none", stroke-linecap="round", stroke-linejoin="round")
                    path(stroke="none", d="M0 0h24v24H0z", fill="none")
                    path(d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572")
                button.button.bordered.style-light-light(aria-label="Download")
                  | #{mod.downloads}

                  svg.icon.icon-tabler.icon-tabler-download(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", stroke-width="2", stroke="currentColor", fill="none", stroke-linecap="round", stroke-linejoin="round")
                    path(stroke="none", d="M0 0h24v24H0z", fill="none")
                    path(d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2")
                    path(d="M7 11l5 5l5 -5")
                    path(d="M12 4l0 12")
              a.button.style-accent.push-right(href=`/mods/${mod.user.slug}/${mod.slug}`) Details

block scripts
  script(src='/static/scripts/main.js' type="module")
